In [1]:
# Dependencies: pandas, numpy, pathlib
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Define the path schools_complete.csv and ensure the path is correct
school_data_path = Path('Resources/schools_complete.csv')
print(school_data_path.exists())

True

In [3]:
# Define the path students_complete.csv and ensure the path is correct
student_data_path = Path('Resources/students_complete.csv')
print(student_data_path.exists())

True

In [4]:
# Read data files and store in pandas DataFrames
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

In [5]:
# Display the first 5 rows of the school_data DataFrame
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
# Display the first 5 rows of the student_data DataFrame
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
# Combine the data into a single dataset using a left join on the school_name column
school_data_left_join = pd.merge(student_data, school_data, how='left', on=['school_name', 'school_name'])
school_data_left_join.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# Combine the data into a single dataset using a right join on the school_name column
school_data_right_join = pd.merge(student_data, school_data, how='right', on=['school_name', 'school_name'])
school_data_right_join.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
# Display school_data_left_join DataFrame information
school_data_left_join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

In [10]:
# Display school_data_right_join DataFrame information
school_data_right_join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

In [12]:
# Using the school_data_left_join DataFrame, calculate the total number of schools
total_schools = school_data_left_join['school_name'].nunique()
total_schools

15

In [13]:
# Using the school_data_left_join DataFrame, calculate the total number of students
total_students = school_data_left_join['student_name'].count()
total_students

39170

In [14]:
# Using the school_data_left_join DataFrame, calculate the total budget
total_budget = school_data_left_join['budget'].unique().sum()
total_budget

24649428

In [15]:
# Using the school_data_left_join DataFrame, calculate the average math score
average_math_score = school_data_left_join['math_score'].mean()
average_math_score

78.98537145774827

In [16]:
# Using the school_data_left_join DataFrame, calculate the average reading score
average_reading_score = school_data_left_join['reading_score'].mean()
average_reading_score

81.87784018381414

In [20]:
# Using the school_data_left_join DataFrame, calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = school_data_left_join[school_data_left_join['math_score'] >= 70]['math_score'].count()
percentage_passing_math_score = (passing_math_score / total_students) * 100
percentage_passing_math_score

74.9808526933878

In [21]:
# Using the school_data_left_join DataFrame, calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = school_data_left_join[school_data_left_join['reading_score'] >= 70]['reading_score'].count()
percentage_passing_reading_score = (passing_reading_score / total_students) * 100
percentage_passing_reading_score

85.80546336482001

In [22]:
# Using the school_data_left_join DataFrame, calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing_score = school_data_left_join[(school_data_left_join['math_score'] >= 70) & (school_data_left_join['reading_score'] >= 70)]['student_name'].count()
percentage_overall_passing_score = (overall_passing_score / total_students) * 100
percentage_overall_passing_score

65.17232575950983

In [23]:
# Create a DataFrame to hold the above results and format the data
district_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [percentage_passing_math_score],
    '% Passing Reading': [percentage_passing_reading_score],
    '% Overall Passing': [percentage_overall_passing_score]
})
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map('{:.2f}%'.format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map('{:.2f}%'.format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map('{:.2f}%'.format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map('{:.2f}%'.format)
district_summary['% Overall Passing'] = district_summary['% Overall Passing'].map('{:.2f}%'.format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [25]:
import os

# Define the home directory
home_dir = os.getcwd()

# Define the subdirectory to save the output file
analysis_dir = os.path.join(home_dir, "analysis")

# Ensure the directory exists before writing the output file
if os.path.exists(analysis_dir) and os.path.isdir(analysis_dir):
    print(f"Directory exists: {analysis_dir}")
else:
    print(f"Directory does not exist: {analysis_dir}")

Directory exists: c:\Users\Jon\OneDrive\githubRepo\pandas-challenge\PyCitySchools\analysis

In [26]:
# Define the name of the output file
output_file_ds = "district_summary.csv"

# Combine the directory and file name to create the full path
output_file_path_ds = os.path.join(analysis_dir, output_file_ds)

# Display the full output file path
print(f"Output file path: {output_file_path_ds}")

Output file path: c:\Users\Jon\OneDrive\githubRepo\pandas-challenge\PyCitySchools\analysis\district_summary.csv

In [27]:
# Save the district summary DataFrame to a CSV file
district_summary.to_csv(output_file_path_ds, index=False)

# Ensure the output file was created
if os.path.exists(output_file_path_ds) and os.path.isfile(output_file_path_ds):
    print(f"Output file created: {output_file_path_ds}")

Output file created: c:\Users\Jon\OneDrive\githubRepo\pandas-challenge\PyCitySchools\analysis\district_summary.csv

In [30]:
# Using the school_data_left_join DataFrame, display the unique school names
school_names = school_data_left_join['school_name'].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [31]:
# Using the school_data_left_join DataFrame, calculate the total number of students at each school
total_students_per_school = school_data_left_join['school_name'].value_counts()
total_students_per_school

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [32]:
# Using the school_data_left_join DataFrame, calculate the total budget at each school
total_budget_per_school = school_data_left_join.groupby('school_name')['budget'].mean()
total_budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [33]:
# Using the school_data_left_join DataFrame, calculate the budget per student at each school
budget_per_student = total_budget_per_school / total_students_per_school
budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [34]:
# Using the school_data_left_join DataFrame, calculate the average math score at each school
average_math_score_per_school = school_data_left_join.groupby('school_name')['math_score'].mean()
average_math_score_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [35]:
# Using the school_data_left_join DataFrame, calculate the average reading score at each school
average_reading_score_per_school = school_data_left_join.groupby('school_name')['reading_score'].mean()
average_reading_score_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [36]:
# Using the school_data_left_join DataFrame, calculate the percentage of students with a passing math score (70 or greater) at each school
passing_math_score_per_school = school_data_left_join[school_data_left_join['math_score'] >= 70].groupby('school_name')['math_score'].count()
percentage_passing_math_score_per_school = (passing_math_score_per_school / total_students_per_school) * 100
percentage_passing_math_score_per_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [37]:
# Using the school_data_left_join DataFrame, calculate the percentage of students with a passing reading score (70 or greater) at each school
passing_reading_score_per_school = school_data_left_join[school_data_left_join['reading_score'] >= 70].groupby('school_name')['reading_score'].count()
percentage_passing_reading_score_per_school = (passing_reading_score_per_school / total_students_per_school) * 100
percentage_passing_reading_score_per_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [38]:
# Using the school_data_left_join DataFrame, calculate the percentage of students who passed math and reading (% Overall Passing) at each school
overall_passing_score_per_school = school_data_left_join[(school_data_left_join['math_score'] >= 70) & (school_data_left_join['reading_score'] >= 70)].groupby('school_name')['student_name'].count()
percentage_overall_passing_score_per_school = (overall_passing_score_per_school / total_students_per_school) * 100
percentage_overall_passing_score_per_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64